<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Estilos/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Estilos/bootstrap.css" rel="stylesheet" />
    <link href="~/Estilos/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Estilos/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Estilos/datatables.min.css" rel="stylesheet" />
    <link href="~/Estilos/fullcalendar/main.min.css" rel="stylesheet" />
    <link href="~/Estilos/fullcalendar-daygrid/main.min.css" rel="stylesheet" />
    <link href="~/Estilos/fullcalendar-timegrid/main.min.css" rel="stylesheet" />
    <link href="~/Estilos/fullcalendar-bootstrap/main.min.css" rel="stylesheet" />
    <link href="~/Estilos/TablasMantenimientos.css" rel="stylesheet" />
    <link href="~/Estilos/fullcalendar-Agenda/Fullcalendar-Agenda.min.css" rel="stylesheet" />
    <link href="~/Estilos/checkbox/EstilosCheckbox.css" rel="stylesheet" />
    <link href="~/Estilos/tpicker.css" rel="stylesheet" />

</head>

<body class="hold-transition skin-blue sidebar-mini">

    <form runat="server">

        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="#" class="logo">
                    <span class="logo-mini">
                        <div class="fa fa-home"></div>
                    </span>
                    <span class="logo-lg">
                        <p style="font-size: x-large"><b>Registro de Citas</b></p>
                    </span>

                </a>

                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <div class="navbar-custom-menu">
                        <div style="text-align: center; margin-bottom: 20px">
                            <div class="col-md-12">
                                <div class="row" style="margin: 15px">
                                    <asp:Label runat="server" CssClass="EsconderNombre" ID="lblNombre" Style="color: #FFFFFF; font-weight: bold; margin-top: 20px">Bienvenido(a): @ViewBag.Usuario</asp:Label>
                                    @* aqui estaba este padding: 20px;  *@
                                </div>
                            </div>
                        </div>
                        <ul class="nav navbar-nav">
                            <li>
                                @*<a>@Html.ActionLink("Cerrar Session", "CerrarSession", "Usuario")</a>*@
                                @*<%--NO BORRAR--%>*@
                                @*<button Class="fa fa-sign-out "></button>*@
                                @*<asp:LinkButton runat="server" ID="BtnCerrarSesion" OnClick="BtnCerrarSesion_Click" ></asp:LinkButton>*@
                            </li>
                        </ul>
                    </div>
                </nav>

            </header>
            <aside class="main-sidebar">
                <section class="sidebar">
                    <div class="user-panel">
                        <div class="imagenLogo">
                            <a href="/InicioEmpresas/InicioEmpresas">
                                <img style="height:150px; width:150px; display: block; margin-left: auto;margin-right: auto;" src='~/Imagenes/Iconos/Icono.png'>
                            </a>
                        </div>

                        <div class="pull-left info">
                            @*<img src="Content/img/Logo.png">*@
                        </div>
                    </div>

                    <div runat="server" id="Menu">
                        @Html.Raw(@ViewBag.Menu);                       
                        <a class="treeview "><i style="margin:10px;" class="fa fa-user"><span></span></i>@Html.ActionLink("Cerrar Session", "CerrarSession", "Usuario")</a>
                    </div>

                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <div class="" style="margin-left: 7px; margin-bottom:0px !important">
                    @RenderBody()
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div style="text-align: center">
                    <strong>Copyright &copy;  @DateTime.Now.Year <a target="_blank" href="http://www.google.com/">Sistema de Registro de Citas S.A</a>.</strong>
                </div>
            </footer>
        </div>

    </form>

    <div class="modal fade" id="MsjCorrecto" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #28a745 ">
                    <h5 class="modal-title" id="lblTituloCorrecto"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="lblMensajeCorrecto"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MsjIncorrecto" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #dc3545">
                    <h5 class="modal-title">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msjModalIncorrecto"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Js/jquery.min.js"></script>
    <script src="~/Js/tpicker2.js"></script> 
    <script src="~/Js/bootstrap.min.js"></script>
    <script src="~/Js/adminlte.min.js"></script>
    <script src="~/Js/moment/moment.min.js"></script>
    <script src="~/Js/fullcalendar/main.min.js"></script>
    <script src="~/Js/fullcalendar-daygrid/main.min.js"></script>
    <script src="~/Js/fullcalendar-timegrid/main.min.js"></script>
    <script src="~/Js/fullcalendar-interaction/main.min.js"></script>
    <script src="~/Js/fullcalendar-bootstrap/main.min.js"></script>
    <script src="~/Js/fullcalendar/locales/es.js"></script>
    <script src="~/Js/datatables.min.js"></script>
    <script src="~/Js/fullcalendar-Agenda/FullCalendar-Agenda.min.js"></script>


</body>


</html>
