@model Entidades.ClasesEntidades.HorarioEmpresa

@{
    ViewBag.Title = "InicioEmpresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Estilos/bootstrap")

<div class="container" style="margin: 0 auto; width: 90%">
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body">
            <div style="margin: 0 auto; width: 95%">
                <div style="text-align: center; margin-bottom: 50px">
                    <h3 id="lblTitulo" style="text-align:center" class="box-header">Bienvenido</h3>
                    <hr />
                </div>
                <div class="row mt-3">
                    <div class="col">

                        <div class="form-group row">

                            <div class="col-12 col-md-6 mb-3">
                                @*<label type="text" class="form-control" name="nombre" id="lblNombreEmpresa"></label>*@

                                <input readonly type="text" style="text-align:center;" class="form-control" placeholder="Nombre" name="nombre" id="txtNombreEmpresa">

                                <br />
                                <textarea readonly name="Descripcion" id="Descripcion" placeholder="Descripcion" class="form-control" style="max-height: 400px; min-height: 400px; max-width: 100%;min-width: 100%;"></textarea>
                                <textarea readonly name="mensaje" id="direccion" placeholder="Direccion" class="form-control" style="max-height: 400px; min-height: 400px; max-width: 100%;min-width: 100%; margin-top:30px;"></textarea>
                                @*<label style="height:200px;" class="form-control" id="txtDescripcionEmpresa" type="mensaje">Descripcion</label>*@
                                <br />
                            </div>

                            <div class="col-12 col-md-6 mb-3">



                                <label style="text-align:center;" type="text" class="form-control" name="Hora de Atencion" id="txtTituloHoras">Horario</label>
                                <br />

                                @{

                                    string MostrarLunes = "none";

                                    if (@Model.EstadoLunes)
                                    {
                                        MostrarLunes = "block";

                                    }

                                    <div style="display:@MostrarLunes">
                                        <input readonly type="text" style="text-align:center;margin-bottom: 15px;" id="txtLunes" required class="form-control" placeholder="Lunes" name="Lunes">
                                        <label style= "display:block;text-align:center;" id="InicioLunes">Horario de apertura: @Model.InicioLunes</label>                                        
                                        <label style= "display:block;text-align:center;" id="FinalLunes">Hora de cierre: @Model.FinalLunes</label>
                                        <br />
                                    </div>

                                }

                                @{

                                    string MostrarMartes = "none";

                                    if (@Model.EstadoMartes)
                                    {
                                        MostrarMartes = "block";

                                    }

                                    <div style="display:@MostrarMartes">
                                        <input readonly type="text" style="text-align:center;margin-bottom: 15px;" id="txtMartes" required class="form-control" placeholder="Martes" name="Martes">
                                        <label style= "display:block;text-align:center;"  id="InicioMartes">@Model.InicioMartes</label>
                                        <label style= "display:block;text-align:center;"  id="FinalMartes">@Model.FinalMartes</label>
                                        <br />
                                    </div>
                                }



                                @{

                                    string MostrarMiercoles = "none";

                                    if (@Model.EstadoMiercoles)
                                    {
                                        MostrarMiercoles = "block";

                                    }

                                    <div style="display:@MostrarMiercoles">
                                        <input readonly type="text" style="text-align:center;margin-bottom: 15px;" id="txtMiercoles" required class="form-control" placeholder="Miercoles" name="Miercoles">
                                        <label style= "display:block;text-align:center;"  id="InicioMiercoles">@Model.InicioMiercoles</label>
                                        <label style= "display:block;text-align:center;"  id="FinalMiercoles">@Model.FinalMiercoles</label>
                                        <br />
                                    </div>
                                }



                                @{

                                    string MostrarJueves = "none";

                                    if (@Model.EstadoJueves)
                                    {
                                        MostrarJueves = "block";

                                    }

                                    <div style="display:@MostrarJueves">
                                        <input readonly type="text" style="text-align:center;margin-bottom: 15px;" id="txtJueves" required class="form-control" placeholder="Jueves" name="Jueves">
                                        <label style= "display:block;text-align:center;"  id="InicioJueves">@Model.InicioJueves</label>
                                        <label style= "display:block;text-align:center;"  id="FinalJueves">@Model.FinalJueves</label>
                                        <br />
                                    </div>
                                }


                                @{

                                    string MostrarViernes = "none";

                                    if (@Model.EstadoViernes)
                                    {
                                        MostrarViernes = "block";

                                    }

                                    <div style="display:@MostrarViernes">
                                        <input readonly type="text" style="text-align:center;margin-bottom: 15px;" id="txtViernes" required class="form-control" placeholder="Viernes" name="Viernes">
                                        <label style= "display:block;text-align:center;"  id="InicioViernes">@Model.InicioViernes</label>
                                        <label style= "display:block;text-align:center;"  id="FinalViernes">@Model.FinalViernes</label>
                                        <br />
                                    </div>
                                }


                                @{

                                    string MostrarSabado = "none";

                                    if (@Model.EstadoSabado)
                                    {
                                        MostrarSabado = "block";

                                    }

                                    <div style="display:@MostrarSabado">
                                        <input readonly type="text" style="text-align:center;margin-bottom: 15px;" id="txtSabado" required class="form-control" placeholder="Sabado" name="Sabado">
                                        <label style= "display:block;text-align:center;"  id="InicioSabado">@Model.InicioSabado</label>
                                        <label style= "display:block;text-align:center;"  id="FinalSabado">@Model.FinalSabado</label>
                                        <br />
                                    </div>
                                }


                                @{

                                    string MostrarDomingo = "none";

                                    if (@Model.EstadoDomingo)
                                    {
                                        MostrarDomingo = "block";

                                    }

                                    <div style="display:@MostrarDomingo">
                                        <input readonly type="text" style="text-align:center;margin-bottom: 15px;" id="txtDomingo" required class="form-control" placeholder="Domingo" name="Domingo">
                                        <label style= "display:block;text-align:center;"  id="InicioDomingo">@Model.InicioDomingo</label>
                                        <label style= "display:block;text-align:center;"  id="FinalDomingo">@Model.FinalDomingo</label>
                                        <br />
                                    </div>
                                }

                            </div>

                        </div>

                        <div class="form-group row">

                            <div class="col-12 col-md-6 mb-3">
                                @*<textarea readonly name="mensaje" id="direccion" placeholder="Direccion" class="form-control" style="max-height: 300px; min-height: 250px; max-width: 100%;min-width: 100%;"></textarea>*@
                                @*<label style="height:200px;" class="form-control" id="direccion" type="text">Direccion</label>*@
                                <br />
                                <label  style= "display:block;text-align:center; margin-bottom:5px">Contacto</label>
                                <input readonly type="tel" required class="form-control" id="txtContactoEmpresa" placeholder="Contacto" name="Contacto" />
                                @*<label type="text" class="form-control" name="contacto" id="txtContactoEmpresa">Contacto</label>*@
                            </div>

                            <div class="col-12 col-md-3 mb-3">
                                <!--<input type="tel" required class="form-control" id="contacto" placeholder="Contacto" name="Contacto" />-->
                            </div>

                            <div class="col-12 col-md-3 mb-3">

                            </div>
                        </div>

                        <!--<input type="submit" class="btn btn-primary btn-block mb-3" value="Enviar">-->

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<script src="~/Js/jquery.min.js"></script>
<script src="~/Scripts/Propios/InicioEmpresas.js"></script>